@{
    ViewBag.Title = "Sobre";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1> <!--Mostra o titulo no navegador-->
    <h2>@ViewBag.Message</h2> <!--Mostra a mensagem definida no controler-->
</hgroup>

<article>
    <p>
        Tendo em vista a incerteza na qual estamos vivendo agora seja na area economica, desvalorizacao, grau de endividamento e contas no negativo a melhor opcao e pegar as economias e converter em dolar e fugir dos bancos, utilizando-os somente para transacoes rotineiras.
    </p>

    <p>
        paragrafo de detalhes sobre o site Se Salve, site de memes, gifs, vidios e muito mais....
    </p>

    <p>
        paragrafo de detalhes sobre o site Se Salve, site de memes, gifs, vidios e muito mais...
    </p>
</article>

<aside>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Pagina Inicial", "Index", "Home")</li> <!--Link para voltar a pagina principal -->
        <li>@Html.ActionLink("Contato", "Contato", "Home")</li> <!--Link para voltar a pagina de contato-->
    </ul>
</aside>
<div>
</div>
